@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
}


@keyframes titleBreathe {
    0% {
        color: darkviolet;
    }
    50% {
        color: violet;
    }
}